<div class="containerFlexRow">

	<div class="feedList containerFlexColumn">
		<div class="feedListItem" ng-repeat="post in $ctrl.rssFeed" ng-class="($ctrl.currentPost && (post.id === $ctrl.currentPost.id)) ? 'selected' : ''">
			<a class="floatRight" ng-click="post.toggleFavorite()" href="">
				<span ng-hide="post.favorite === true"><i class="fa fa-heart-o"></i></span>
				<span ng-show="post.favorite === true"><i class="fa fa-heart"></i></span>
			</a>
			<a ng-click="$ctrl.setCurrent($index)" href="">
				{{ post.title }}
			</a>
		</div>
	</div>

	<div class="currentPost" ng-show="$ctrl.currentPost">
		<h2>{{ $ctrl.currentPost.title }}</h2>
		<p>{{ $ctrl.currentPost.body }}</p>
	</div>
</div>