<div class="containerFlexRow">
    <div class="feedList containerFlexColumn">
        <div class="feedListItem" *ngFor="let post of rssFeed; let i=index" [ngClass]="{selected: isCurrent(i)}">
            <div class="floatRight link" (click)="post.toggleFavorite()">
                <span [hidden]="post.favorite === true"><i class="fa fa-heart-o"></i></span>
                <span [hidden]="!post.favorite === true"><i class="fa fa-heart"></i></span>
            </div>
            <div (click)="setCurrent(i)" class="link">
                {{ post.title }}
            </div>
        </div>
    </div>

    <div class="currentPost" *ngIf="currentPost">
        <h2>{{ currentPost.title }}</h2>
        <p>{{ currentPost.body }}</p>
    </div>
</div>
